/* main color palette */
:root {
    --text-primary: white;
    --text-secondary: #C7D4D6;
    --background-primary: #272727;
    --background-secondary: #747474;
    --accent-one: #FF652F;
    --light-accent: #FFE400;
    --dark-accent: #14A76C;

    --font-size: 18px;

    text-align: center;
}

::selection {
    background: var(--light-accent);
    color: var(--background-primary);
}

body {
    font-family: monaco, monospace;
    font-size: var(--font-size);
}

.other-content {
    color: var(--text-primary);
    background-color: var(--background-primary  );
}

.home-content {
    color: var(--text-primary);
    background-color: var(--background-primary);
}

img {
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgb(2, 2, 2, .5);
    max-width: 90%;
    max-height: 100%;
}

a {
    color: var(--text-primary);
}

a:hover {
    text-decoration-color: var(--dark-accent);
}

.accent-oneMessage {
    background-color: var(--accent-one);
    font-weight: bold;
    width: 300px;
}
.accent-oneMessage:hover {
    padding: 0.25rem;
    border-style: outset;
}

iframe {
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 2px rgb(2, 2, 2, .5);
    max-width: 90%;
    max-height: 100%;
}

.content {
    margin: auto;
    max-width: 70%;
}

.styled {
    display: inline;
    width: fit-content;
    font-weight: bold;
}

/* --------------------------- Scroll Bar ----------------------------*/
/* -----------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px var(--dark-accent);
    border-radius: 4px;
    height: 300px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--dark-accent);
    border-radius: 4px;
  }


/* --------------------------- Dropdown ----------------------------*/
/* -----------------------------------------------------------------*/
.dropdown {
    position: relative;
    display: inline-block;
}

button.dropdown {
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    color: var(--text-primary);
    padding-left: 0.25rem;
    padding-right: 0.25rem;

    font-family: monaco, monospace;
    font-size: var(--font-size);
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
}

.dropdown button:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--dark-accent);
}

.dropdown:hover button.dropdown {
    text-decoration: underline;
    text-decoration-color: var(--dark-accent);
}

.dropdown-content {
    background: var(--background-primary);
    border: 2px solid var(--dark-accent);
    overflow-y: auto;
    display: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: -4px 4px 10px 3px rgb(2, 2, 2, .7);
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
    top: 20px;
    left: 4px;
}

a.dropdown {
    text-decoration: none;
    color: var(--text-primary);
    display: block;
}

a.dropdown:hover {
    text-decoration: underline;
    text-decoration-color: var(--dark-accent)
}


/* --------------------- About Dropdown --------------------------*/
/* ---------------------------------------------------------------*/
.about a.dropdown:hover {
    text-decoration-color: var(--light-accent);
}

.about:hover button.dropdown {
    text-decoration-color: var(--light-accent);
}

.about .dropdown-content {
    border: 2px solid var(--light-accent);
}


/* --------------------------- Navbar ----------------------------*/
/* ---------------------------------------------------------------*/
.stickynav {
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: var(--background-primary);
}

hr.navbar {
    border-color: var(--dark-accent);
    background-color: var(--dark-accent);
    border-style: solid;
    color: var(--dark-accent);
    height: 1px;
}

a.navbar {
    text-decoration: none;
    color: var(--text-primary);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

a.navbar:hover {
    text-decoration: underline;
    text-decoration-color: var(--dark-accent)
}

/* --------------------------- About Me Bar ----------------------*/
/* ---------------------------------------------------------------*/
div.aboutNav {
    margin: auto;
    margin-top: 1.5rem;
    width: 95%;
}

div.aboutPage hr {
    border-color: var(--light-accent);
    background-color: var(--light-accent);
    border-style: solid;
    color: var(--light-accent);
    height: 1px;
}

/* --------------------------- About Me --------------------------*/
/* ---------------------------------------------------------------*/
.aboutPage .content{
    margin: auto;
    max-width: 95%;
}

div.aboutPage a {
    text-decoration-color: var(--dark-accent);
}

div.aboutPage a:hover {
    text-decoration-color: var(--light-accent);
}

/* --------------------------- Videos ----------------------------*/
/* ---------------------------------------------------------------*/
div.videos {
    align-items: center;
}

div.videos iframe {
    margin: 0.25rem;
}


/* --------------------------- 404 Page --------------------------*/
/* ---------------------------------------------------------------*/
div.noPage { 
    overflow:hidden;
}
div.noPage ._404 {
    font-size: 600%;
    font-weight: 600;
    animation: fourohfour 15s linear 0s infinite normal, rotate 20s linear 0s infinite normal;
}

@keyframes fourohfour {
    0% {color: var(--text-primary);}
    25% {color: var(--dark-accent);}
    50% {color: var(--light-accent);}
    75% {color: var(--accent-one);}
    100% {color: var(--text-primary);}
}

@keyframes rotate {
    100% {transform: rotate(360deg);}
}


div.noPage .notfound {
    font-size: 150%;
    font-weight: 600;
}

div.noPage a {
    text-decoration-color: var(--dark-accent);
}

div.noPage a:hover {
    text-decoration-color: var(--accent-one);
}



/* --------------------------- DnDSearch -------------------------*/
/* ---------------------------------------------------------------*/
div.dndSearchPage input:-webkit-autofill,
div.dndSearchPage input:-webkit-autofill:hover, 
div.dndSearchPage input:-webkit-autofill:focus, 
div.dndSearchPage input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--background-primary) inset !important;
}

div.dndSearchPage input:-webkit-autofill{
    -webkit-text-fill-color: var(--text-primary) !important;
}

div.dndSearchPage input {
    padding: 0.25rem;
    margin-right: 0.5rem;
    background-color: var(--background-primary);
    color: var(--text-primary);
    border-radius: 0.25rem;
    box-shadow: 0px 0px 5px 1px rgb(2, 2, 2, .5);
}

div.dndSearchPage input:focus {
    outline: none;
}

.dndSearchPage button {
    padding: 0.5rem;
    margin-top: 1em;
    border-style: none;
    border-radius: 0.25rem;
    color: var(--text-primary);
    background-color: var(--dark-accent);
    box-shadow: 0px 0px 5px 1px rgb(2, 2, 2, .5);
}

.dndSearchPage button:hover {
    transform: scale(1.1);
    border-radius: 0.35rem;
}

.dndSearchPage button:active {
    background-color: var(--light-accent);
}

div.dndSearchPage h2 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

div.choiceButtons {
    border: 2px solid var(--dark-accent);
    padding: 1rem;
    border-radius: 0.25rem;
    display: inline-block;
    box-shadow: 0px 0px 10px 5px rgb(2, 2, 2, .5);
}

div.choiceButtons button {
    margin: 0.25rem;
}
/* ------------ DataCards -----------*/
div.dataCard {
    margin: auto;
    margin-top: 1rem;
    width: 300px;
    height: max-content;
    max-width: 90%;

    padding: 1rem;
    border: 2px solid var(--accent-one);
    border-radius: 0.25rem;
    box-shadow: 0px 0px 10px 5px rgb(2, 2, 2, .5); 
}

div.dataCard p {
    text-align: left;
    padding: 0px;
    margin: 0px;
}

div.dataCard p.title {
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
    text-decoration-color: var(--accent-one);
    text-decoration-thickness: 2px;
}

div.dataCard img {
    float: left;
    margin-right: 1rem;
    width: 100px;
    height: 100px;
    max-width: 50%;
    max-height: 50%;
}